NodeRed/BlueMix/flow.json
[{"id":"25188fb.e5dbb7","type":"http in","z":"82931fa9.ce741","name":"Send by Alexa","url":"/HelloWorld","method":"post","upload":true,"swaggerDoc":"","x":98,"y":74,"wires":[["4f248c49.a3a224"]]},{"id":"4f248c49.a3a224","type":"switch","z":"82931fa9.ce741","name":"Request types","property":"payload.request.type","propertyType":"msg","rules":[{"t":"eq","v":"LaunchRequest","vt":"str"},{"t":"eq","v":"SessionEndedRequest","vt":"str"},{"t":"eq","v":"IntentRequest","vt":"str"}],"checkall":"true","outputs":3,"x":178,"y":186,"wires":[["4bd332a8.d7bcdc"],["b9fc17e0.c60068"],["cea3414e.6a68e"]]},{"id":"cea3414e.6a68e","type":"switch","z":"82931fa9.ce741","name":"Intent Types","property":"payload.request.intent.name","propertyType":"msg","rules":[{"t":"eq","v":"PetCareIntent","vt":"str"},{"t":"eq","v":"GroceryIntent","vt":"str"}],"checkall":"true","outputs":2,"x":400,"y":230,"wires":[["5690a97.dfebf58","cf20bd5a.a8f83"],["624b8021.db2be","a1d98cc0.45c65"]]},{"id":"a1d98cc0.45c65","type":"template","z":"82931fa9.ce741","name":"Request for grocery","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Okay, I am sending a request to My Circle for some {{payload.request.intent.slots.grocery.value }}.","output":"str","x":633,"y":272,"wires":[["fad4dada.8fdce8"]]},{"id":"334365c4.d0feea","type":"json","z":"82931fa9.ce741","name":"","pretty":false,"x":916.5,"y":246.33334350585938,"wires":[["4d19d9cb.37b2b8","f04b0b4a.f237e8"]]},{"id":"fad4dada.8fdce8","type":"template","z":"82931fa9.ce741","name":"Format","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\n    \"version\": \"1.0\",\n    \"response\" : {\n        \"outputSpeech\" : {\n            \"type\" : \"PlainText\",\n            \"text\" : \"{{payload}}\"\n            },\n        \"shouldEndSession\" : true\n    }\n}","output":"str","x":864,"y":185,"wires":[["334365c4.d0feea"]]},{"id":"4d19d9cb.37b2b8","type":"http response","z":"82931fa9.ce741","name":"Sent to Alexa","statusCode":"","headers":{},"x":1085.5,"y":245.66668701171875,"wires":[]},{"id":"f04b0b4a.f237e8","type":"debug","z":"82931fa9.ce741","name":"Debug","active":false,"console":"false","complete":"payload","x":1071.166748046875,"y":297,"wires":[]},{"id":"4bd332a8.d7bcdc","type":"template","z":"82931fa9.ce741","name":"Launch Request","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Welcome! You can ask for any help to My Circle.","output":"str","x":411,"y":144,"wires":[["fad4dada.8fdce8"]]},{"id":"5690a97.dfebf58","type":"template","z":"82931fa9.ce741","name":"Request for Pet Care","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Okay, I am asking My Circle to find someone for Kobi.","output":"str","x":632.5,"y":225,"wires":[["fad4dada.8fdce8"]]},{"id":"624b8021.db2be","type":"function","z":"82931fa9.ce741","name":"Decode grocery item","func":"var newMsg = { payload: msg.payload.request.intent.slots.grocery.value };\nreturn newMsg;\n","outputs":1,"noerr":0,"x":638,"y":326,"wires":[["89cdd6d3.4f3a28"]]},{"id":"b9fc17e0.c60068","type":"template","z":"82931fa9.ce741","name":"End Request","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Good Bye.","output":"str","x":402,"y":185,"wires":[["fad4dada.8fdce8"]]},{"id":"6c595ee0.54051","type":"twilio out","z":"82931fa9.ce741","service":"_ext_","twilio":"22de26b0.c66a9a","from":"","number":"+14155899829","name":"SMS to Anoja","x":926.5,"y":54,"wires":[]},{"id":"cf20bd5a.a8f83","type":"template","z":"82931fa9.ce741","name":"Generate notification","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Needs someone to take care of Kobe. \nFrom MyCircle","output":"str","x":643.5,"y":122,"wires":[["6c595ee0.54051"]]},{"id":"89cdd6d3.4f3a28","type":"http response","z":"82931fa9.ce741","name":"Send Push Notification to iOS","statusCode":"","headers":{},"x":997.5,"y":375,"wires":[]},{"id":"a1354e37.1d3fb","type":"http in","z":"82931fa9.ce741","name":"Alexa, Door status","url":"/DoorStatus","method":"post","upload":true,"swaggerDoc":"","x":110,"y":480,"wires":[["54ffaca0.e31a94"]]},{"id":"54ffaca0.e31a94","type":"switch","z":"82931fa9.ce741","name":"Request types","property":"payload.request.type","propertyType":"msg","rules":[{"t":"eq","v":"LaunchRequest","vt":"str"},{"t":"eq","v":"SessionEndedRequest","vt":"str"},{"t":"eq","v":"IntentRequest","vt":"str"}],"checkall":"true","outputs":3,"x":170,"y":592,"wires":[["344e640d.446ebc"],["bead84b2.ebc1e8"],["86ef75af.b81e58"]]},{"id":"86ef75af.b81e58","type":"switch","z":"82931fa9.ce741","name":"Intent Types","property":"payload.request.intent.name","propertyType":"msg","rules":[{"t":"eq","v":"DoorStatusIntent","vt":"str"}],"checkall":"true","outputs":1,"x":392,"y":636,"wires":[["3034ba6d.60c276","4d560b8c.b0fa84"]]},{"id":"d31bd958.82c6d8","type":"json","z":"82931fa9.ce741","name":"","pretty":false,"x":908.5,"y":652.3333435058594,"wires":[["6ded910e.30f74","a97cdc16.2b77"]]},{"id":"b904b5ec.f5c038","type":"template","z":"82931fa9.ce741","name":"Format","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\n    \"version\": \"1.0\",\n    \"response\" : {\n        \"outputSpeech\" : {\n            \"type\" : \"PlainText\",\n            \"text\" : \"{{payload}}\"\n            },\n        \"shouldEndSession\" : true\n    }\n}","output":"str","x":820,"y":560,"wires":[["d31bd958.82c6d8"]]},{"id":"6ded910e.30f74","type":"http response","z":"82931fa9.ce741","name":"Sent to Alexa","statusCode":"","headers":{},"x":1077.5,"y":651.6666870117188,"wires":[]},{"id":"a97cdc16.2b77","type":"debug","z":"82931fa9.ce741","name":"Debug","active":false,"console":"false","complete":"payload","x":1063.166748046875,"y":703,"wires":[]},{"id":"344e640d.446ebc","type":"template","z":"82931fa9.ce741","name":"Launch Request","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Welcome! You can ask me your door status?","output":"str","x":403,"y":550,"wires":[["b904b5ec.f5c038"]]},{"id":"4d560b8c.b0fa84","type":"template","z":"82931fa9.ce741","name":"jhb","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Love you sweet heart","output":"str","x":610,"y":620,"wires":[["b904b5ec.f5c038"]]},{"id":"bead84b2.ebc1e8","type":"template","z":"82931fa9.ce741","name":"End Request","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Good Bye.","output":"str","x":394,"y":591,"wires":[["b904b5ec.f5c038"]]},{"id":"3034ba6d.60c276","type":"template","z":"82931fa9.ce741","name":"Generate notification","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"tycm","output":"str","x":640,"y":680,"wires":[["1168e8f1.a1e627"]]},{"id":"1168e8f1.a1e627","type":"debug","z":"82931fa9.ce741","name":"","active":true,"console":"false","complete":"false","x":850,"y":740,"wires":[]},{"id":"ea6c0f62.e3024","type":"mqtt in","z":"82931fa9.ce741","name":"","topic":"/doorstatus","qos":"2","broker":"3090852f.7a080a","x":174.5,"y":813,"wires":[["bcfb94bd.361708"]]},{"id":"bcfb94bd.361708","type":"debug","z":"82931fa9.ce741","name":"","active":false,"console":"false","complete":"false","x":424.5,"y":815,"wires":[]},{"id":"e6a2b6a6.52bd18","type":"mqtt in","z":"82931fa9.ce741","name":"","topic":"/motion","qos":"2","broker":"3090852f.7a080a","x":150,"y":880,"wires":[["bcfb94bd.361708","19aec3ab.9a550c"]]},{"id":"d2cceb3c.045b48","type":"twilio out","z":"82931fa9.ce741","service":"_ext_","twilio":"22de26b0.c66a9a","from":"","number":"+14155899829","name":"Text Message to Anoja","x":880,"y":960,"wires":[]},{"id":"19aec3ab.9a550c","type":"switch","z":"82931fa9.ce741","name":"Detect motion","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Motion absent","vt":"str"},{"t":"eq","v":"Motion detected","vt":"str"}],"checkall":"true","outputs":2,"x":380,"y":920,"wires":[["f4c45a2d.3f9f68"],["da285ae4.0e1078"]]},{"id":"da285ae4.0e1078","type":"template","z":"82931fa9.ce741","name":"Motion Detected","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Intrusion detected","output":"str","x":610,"y":960,"wires":[[]]},{"id":"f4c45a2d.3f9f68","type":"template","z":"82931fa9.ce741","name":"Absence of Motion","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Absence of Motion","output":"str","x":610,"y":900,"wires":[[]]},{"id":"22de26b0.c66a9a","type":"twilio-api","z":"","sid":"ACe284089463251585ee03a7675e030922","from":"+16176572454","name":"Text message"},{"id":"3090852f.7a080a","type":"mqtt-broker","z":"","broker":"ec2-54-86-79-172.compute-1.amazonaws.com","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""}]
