NodeRed/BlueMix/flow.json
[{"id":"a1354e37.1d3fb","type":"http in","z":"82931fa9.ce741","name":"Alexa, Project Demo","url":"/Demo","method":"post","upload":true,"swaggerDoc":"","x":110,"y":140,"wires":[["54ffaca0.e31a94"]]},{"id":"54ffaca0.e31a94","type":"switch","z":"82931fa9.ce741","name":"Request types","property":"payload.request.type","propertyType":"msg","rules":[{"t":"eq","v":"LaunchRequest","vt":"str"},{"t":"eq","v":"SessionEndedRequest","vt":"str"},{"t":"eq","v":"IntentRequest","vt":"str"}],"checkall":"true","outputs":3,"x":170,"y":252,"wires":[["344e640d.446ebc"],["bead84b2.ebc1e8"],["86ef75af.b81e58"]]},{"id":"86ef75af.b81e58","type":"switch","z":"82931fa9.ce741","name":"Intent Types","property":"payload.request.intent.name","propertyType":"msg","rules":[{"t":"eq","v":"DemoIntent","vt":"str"},{"t":"eq","v":"ExampleIntent","vt":"str"}],"checkall":"true","outputs":2,"x":392,"y":296,"wires":[["4b1b463f.717c48"],["3034ba6d.60c276"]]},{"id":"d31bd958.82c6d8","type":"json","z":"82931fa9.ce741","name":"","pretty":false,"x":870,"y":280,"wires":[["6ded910e.30f74","a97cdc16.2b77"]]},{"id":"b904b5ec.f5c038","type":"template","z":"82931fa9.ce741","name":"Format","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\n    \"version\": \"1.0\",\n    \"response\" : {\n        \"outputSpeech\" : {\n            \"type\" : \"PlainText\",\n            \"text\" : \"{{payload}}\"\n            },\n        \"shouldEndSession\" : true\n    }\n}","output":"str","x":800,"y":209,"wires":[["d31bd958.82c6d8"]]},{"id":"6ded910e.30f74","type":"http response","z":"82931fa9.ce741","name":"Sent to Alexa","statusCode":"","headers":{},"x":1039,"y":279.3333435058594,"wires":[]},{"id":"a97cdc16.2b77","type":"debug","z":"82931fa9.ce741","name":"Debug","active":false,"console":"false","complete":"payload","x":1024.666748046875,"y":330.6666564941406,"wires":[]},{"id":"344e640d.446ebc","type":"template","z":"82931fa9.ce741","name":"Launch Demo Request","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Good Afternoon everyone. I would like to give a small introduction on the skills installed in me. You can ask me to control devices like garage door, lights, dish washer or any other devices connected to me.","output":"str","x":423,"y":210,"wires":[["b904b5ec.f5c038"]]},{"id":"bead84b2.ebc1e8","type":"template","z":"82931fa9.ce741","name":"End Request","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Good Bye","output":"str","x":394,"y":251,"wires":[["b904b5ec.f5c038"]]},{"id":"3034ba6d.60c276","type":"template","z":"82931fa9.ce741","name":"Control devices","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"You can ask me to turn the living room light on or off. You can also ask me to control your dish washer. ","output":"str","x":580,"y":320,"wires":[["b904b5ec.f5c038"]]},{"id":"ea6c0f62.e3024","type":"mqtt in","z":"82931fa9.ce741","name":"","topic":"/doorstatus","qos":"2","broker":"3090852f.7a080a","x":130,"y":740,"wires":[["bcfb94bd.361708","dc8e8b5f.64df48"]]},{"id":"bcfb94bd.361708","type":"debug","z":"82931fa9.ce741","name":"","active":false,"console":"false","complete":"false","x":330,"y":780,"wires":[]},{"id":"e6a2b6a6.52bd18","type":"mqtt in","z":"82931fa9.ce741","name":"","topic":"/motion","qos":"2","broker":"3090852f.7a080a","x":110,"y":800,"wires":[["bcfb94bd.361708","19aec3ab.9a550c"]]},{"id":"d2cceb3c.045b48","type":"twilio out","z":"82931fa9.ce741","service":"_ext_","twilio":"22de26b0.c66a9a","from":"","number":"+14155899829","name":"Text Message to Anoja","x":840,"y":880,"wires":[]},{"id":"19aec3ab.9a550c","type":"switch","z":"82931fa9.ce741","name":"Detect motion","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Motion absent","vt":"str"},{"t":"eq","v":"Motion detected","vt":"str"}],"checkall":"true","outputs":2,"x":340,"y":840,"wires":[["f4c45a2d.3f9f68"],["da285ae4.0e1078"]]},{"id":"da285ae4.0e1078","type":"template","z":"82931fa9.ce741","name":"Motion Detected","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Intrusion detected","output":"str","x":570,"y":880,"wires":[[]]},{"id":"f4c45a2d.3f9f68","type":"template","z":"82931fa9.ce741","name":"Absence of Motion","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Absence of Motion","output":"str","x":570,"y":820,"wires":[[]]},{"id":"56c305b2.76d9fc","type":"cloudant in","z":"82931fa9.ce741","name":"Retrieve","cloudant":"","database":"nodered","service":"Echo Test-cloudantNoSQLDB","search":"_all_","design":"","index":"","x":400,"y":540,"wires":[["e64b607c.8b9b8"]]},{"id":"dc8e8b5f.64df48","type":"cloudant out","z":"82931fa9.ce741","name":"Save door status","cloudant":"","database":"nodered","service":"Echo Test-cloudantNoSQLDB","payonly":false,"operation":"insert","x":350,"y":720,"wires":[]},{"id":"b6b188c2.987338","type":"http in","z":"82931fa9.ce741","name":"Alexa, Door Status","url":"/doorstatus","method":"get","upload":true,"swaggerDoc":"","x":130,"y":540,"wires":[["56c305b2.76d9fc"]]},{"id":"e64b607c.8b9b8","type":"function","z":"82931fa9.ce741","name":"Search latest entry","func":"var count = msg.payload.length;\n//var list = [];\nif(msg.payload[count-1].topic == \"/doorstatus\")\n    {\n        return msg.payload[count-1].payload;\n    }\n    /*\nfor (i=0;i<count;i++) {\nlist.push({\n        _id: msg.payload[i]._id,\n        _rev: msg.payload[i]._rev,\n        \"topic\": \"/doorstatus\",\n        \"payload\": \"Door Closed\",\n        //_deleted: true\n    });\n}\n\nif (i == 0) {\nmsg.payload = \"No documents were found.  The database is empty!\";\nreturn [null, msg];\n}\n\nmsg.payload = {\n                \"docs\": \n                list\n               }\nreturn msg;*/","outputs":"1","noerr":0,"x":650,"y":540,"wires":[["a18f15ea.84a068","e34107cf.bc0a88"]]},{"id":"a18f15ea.84a068","type":"debug","z":"82931fa9.ce741","name":"","active":true,"console":"false","complete":"payload","x":930,"y":540,"wires":[]},{"id":"e34107cf.bc0a88","type":"http response","z":"82931fa9.ce741","name":"Response","statusCode":"","headers":{},"x":940,"y":600,"wires":[]},{"id":"4b1b463f.717c48","type":"template","z":"82931fa9.ce741","name":"Leaving house","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"If you are leaving the house, I can help you turn off the devices, lights and open garage door for you.","output":"str","x":580,"y":280,"wires":[["b904b5ec.f5c038"]]},{"id":"3090852f.7a080a","type":"mqtt-broker","z":"","broker":"ec2-54-86-79-172.compute-1.amazonaws.com","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"22de26b0.c66a9a","type":"twilio-api","z":"","sid":"ACe284089463251585ee03a7675e030922","from":"+16176572454","name":"Text message"}]
