NodeRed/RPi/flow.json
[{"id":"3dcdf046.ee23a","type":"ui_gauge","z":"2dc2f142.152ace","name":"","group":"ff72b830.326f88","order":2,"width":0,"height":0,"gtype":"gage","title":"CPU Temperature","label":"C","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":820,"y":66,"wires":[]},{"id":"f8cc5d81.e4c","type":"exec","z":"2dc2f142.152ace","command":"vcgencmd measure_temp","addpay":false,"append":"","useSpawn":"","timer":"","name":"RPi Temp.","x":370,"y":80,"wires":[["230fe8ff.8db9b8"],[],[]]},{"id":"a2847244.0f469","type":"inject","z":"2dc2f142.152ace","name":"Every 60 secs","topic":"","payload":"","payloadType":"date","repeat":"60","crontab":"","once":false,"x":130,"y":160,"wires":[["f8cc5d81.e4c","bfb4a8d2.327e08","753cc1cf.975e4"]]},{"id":"230fe8ff.8db9b8","type":"function","z":"2dc2f142.152ace","name":"substring","func":"str = msg.payload\nmsg.payload = str.substring(5,9);\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":67,"wires":[["3dcdf046.ee23a","5e87ffd5.ec0f3"]]},{"id":"5506f862.046d98","type":"ui_button","z":"2dc2f142.152ace","name":"","group":"d050b7e7.62e438","order":2,"width":0,"height":0,"label":"Reboot","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":110,"y":460,"wires":[["623f7455.1eaf3c"]]},{"id":"623f7455.1eaf3c","type":"exec","z":"2dc2f142.152ace","command":"sudo reboot","addpay":false,"append":"","useSpawn":"","timer":"","name":"Reboot","x":358,"y":460,"wires":[[],[],[]]},{"id":"bd8bd2c3.59476","type":"ui_button","z":"2dc2f142.152ace","name":"","group":"d050b7e7.62e438","order":3,"width":0,"height":0,"label":"Shutdown","color":"","bgcolor":"red","icon":"","payload":"","payloadType":"str","topic":"","x":130,"y":540,"wires":[["387ebc20.6bca84"]]},{"id":"387ebc20.6bca84","type":"exec","z":"2dc2f142.152ace","command":"sudo shutdown -h now","addpay":false,"append":"","useSpawn":"","timer":"","name":"Shutdown","x":370,"y":540,"wires":[[],[],[]]},{"id":"5e87ffd5.ec0f3","type":"ui_chart","z":"2dc2f142.152ace","name":"","group":"ff72b830.326f88","order":3,"width":0,"height":0,"label":"","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","ymin":"","ymax":"","removeOlder":"24","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":783,"y":102,"wires":[[],[]]},{"id":"bfb4a8d2.327e08","type":"exec","z":"2dc2f142.152ace","command":"top -d 0.5 -b -n2 | grep \"Cpu(s)\"|tail -n 1 | awk '{print $2 + $4}'","addpay":false,"append":"","useSpawn":"","timer":"","name":"CPU Load","x":370,"y":160,"wires":[["d620de3a.f7abf"],[],[]]},{"id":"753cc1cf.975e4","type":"exec","z":"2dc2f142.152ace","command":"free | grep Mem | awk '{print 100*($4+$6+$7)/$2}'","addpay":false,"append":"","useSpawn":"","timer":"","name":"Free Memory","x":370,"y":240,"wires":[["6ea7d221.33b05c"],[],[]]},{"id":"d620de3a.f7abf","type":"ui_gauge","z":"2dc2f142.152ace","name":"","group":"ff72b830.326f88","order":1,"width":0,"height":0,"gtype":"gage","title":"CPU Guage","label":"CPU","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":582,"y":147,"wires":[]},{"id":"6ea7d221.33b05c","type":"ui_gauge","z":"2dc2f142.152ace","name":"","group":"be2fb5d8.75fe38","order":1,"width":0,"height":0,"gtype":"gage","title":"Use of Memory","label":"RAM","format":"{{value.toFixed(1)}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":596,"y":226,"wires":[]},{"id":"3ccb2335.cd4a7c","type":"exec","z":"2dc2f142.152ace","command":"df -h","addpay":false,"append":"","useSpawn":"","timer":"","name":"Disk Usage","x":370,"y":320,"wires":[["5f450ec2.10f46"],[],[]]},{"id":"fb94119e.c2b63","type":"ui_gauge","z":"2dc2f142.152ace","name":"","group":"ab5c1d95.4b4f3","order":1,"width":0,"height":0,"gtype":"gage","title":"Disk Usage","label":"Usage","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":810,"y":307,"wires":[]},{"id":"5f450ec2.10f46","type":"function","z":"2dc2f142.152ace","name":"substring","func":"var re = /([0-9]{2})%/\nvar idx = msg.payload.search(re);\nvar str = msg.payload;\nif (idx >=0) {\n    str = msg.payload.substring(idx, idx + 2);\n}\nmsg.payload = str;\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":307,"wires":[["fb94119e.c2b63"]]},{"id":"e7fa30ed.f5eea","type":"inject","z":"2dc2f142.152ace","name":"","topic":"","payload":"","payloadType":"date","repeat":"60","crontab":"","once":false,"x":140,"y":320,"wires":[["3ccb2335.cd4a7c"]]},{"id":"ff72b830.326f88","type":"ui_group","z":"","name":"Col1","tab":"bcc3e46.fc49f18","order":1,"disp":false,"width":"6"},{"id":"d050b7e7.62e438","type":"ui_group","z":"","name":"Actions","tab":"bcc3e46.fc49f18","order":4,"disp":true,"width":"6"},{"id":"be2fb5d8.75fe38","type":"ui_group","z":"","name":"Col2","tab":"bcc3e46.fc49f18","order":2,"disp":false,"width":"6"},{"id":"ab5c1d95.4b4f3","type":"ui_group","z":"","name":"Col3","tab":"bcc3e46.fc49f18","order":3,"disp":false,"width":"6"},{"id":"bcc3e46.fc49f18","type":"ui_tab","z":"","name":"RPi Control","icon":"dashboard","order":1}]
