NodeRed/IntelEdison/flow.json
[{"id":"acfdbf2b.0f1da","type":"upm-grove-light","z":"82491a29.edf68","name":"Photo Light Sensor","platform":"0","unit":"Lux","pin":"1","interval":1000,"x":110,"y":120,"wires":[["7febd289.adaac4"]]},{"id":"7febd289.adaac4","type":"switch","z":"82491a29.edf68","name":"Regulator","property":"payload","propertyType":"msg","rules":[{"t":"gte","v":"2","vt":"num"},{"t":"lt","v":"2","vt":"num"}],"checkall":"true","outputs":2,"x":220,"y":200,"wires":[["185599f9.26b05e"],["bc92aba3.eb58f"]]},{"id":"bc92aba3.eb58f","type":"template","z":"82491a29.edf68","name":"ON","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"1","output":"str","x":370,"y":220,"wires":[["847c1e30.3164f"]]},{"id":"847c1e30.3164f","type":"UPM-Grove-Relay","z":"82491a29.edf68","name":"Light","platform":"0","pin":"4","interval":1000,"x":510,"y":200,"wires":[]},{"id":"185599f9.26b05e","type":"template","z":"82491a29.edf68","name":"OFF","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"0","output":"str","x":370,"y":180,"wires":[["847c1e30.3164f"]]},{"id":"b19c8d2a.6528d","type":"mqtt in","z":"82491a29.edf68","name":"DHT11 Temp/Hum Sensor","topic":"/temp","qos":"2","broker":"b75e4493.d005b8","x":143.89999389648438,"y":345.1999969482422,"wires":[["a5feb73b.e7fa88"]]},{"id":"9f54f29a.42804","type":"comment","z":"82491a29.edf68","name":"ESP32","info":"","x":86,"y":300,"wires":[]},{"id":"a5feb73b.e7fa88","type":"switch","z":"82491a29.edf68","name":"Temp Regulator","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"20","vt":"num"},{"t":"btwn","v":"20","vt":"num","v2":"26","v2t":"num"},{"t":"gt","v":"26","vt":"num"}],"checkall":"true","outputs":3,"x":260,"y":420,"wires":[["ba1f515f.95724"],["8ec82fa.f4b87d"],["901b9a9f.8f9638"]]},{"id":"ba1f515f.95724","type":"template","z":"82491a29.edf68","name":"Turn ON Heater","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"1","output":"str","x":460,"y":360,"wires":[["660b265b.2302f"]]},{"id":"8ec82fa.f4b87d","type":"template","z":"82491a29.edf68","name":"Moderate Temp","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"This is the payload: {{payload}} !","output":"str","x":460,"y":420,"wires":[["3d2364ce.6a611c"]]},{"id":"901b9a9f.8f9638","type":"template","z":"82491a29.edf68","name":"Turn on Cooler","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"1","output":"str","x":460,"y":480,"wires":[["eda9d875.c73ff"]]},{"id":"660b265b.2302f","type":"mraa-gpio-dout","z":"82491a29.edf68","name":"Switch to Heater","pin":"0","set":"","level":"0","x":690,"y":360,"wires":[]},{"id":"eda9d875.c73ff","type":"mraa-gpio-dout","z":"82491a29.edf68","name":"Switch to Cooler","pin":"2","set":"","level":"0","x":690,"y":480,"wires":[]},{"id":"4ed8a7e4.30fdc","type":"comment","z":"82491a29.edf68","name":"ESP8266 @ Door","info":"","x":120,"y":540,"wires":[]},{"id":"ad0b72f2.d58a","type":"mqtt in","z":"82491a29.edf68","name":"Door Status","topic":"/doorstatus","qos":"2","broker":"b75e4493.d005b8","x":110,"y":587,"wires":[["d410b9ad.c329f8"]]},{"id":"d410b9ad.c329f8","type":"switch","z":"82491a29.edf68","name":"Check if ","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Door Open","vt":"str"},{"t":"eq","v":"Door Closed","vt":"str"}],"checkall":"true","outputs":2,"x":302.7143096923828,"y":588.5713691711426,"wires":[["a5302fb4.9d56b"],["9dc827e2.412e4"]]},{"id":"a5302fb4.9d56b","type":"template","z":"82491a29.edf68","name":"Door Open","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"1","output":"str","x":498.4285583496094,"y":567.7142429351807,"wires":[["d031709a.0e9248","ccc7739.811659"]]},{"id":"d031709a.0e9248","type":"mraa-gpio-pwm","z":"82491a29.edf68","name":"Ring Alarm","pin":"9","period":"100","x":701.285717010498,"y":566.8571872711182,"wires":[]},{"id":"9dc827e2.412e4","type":"template","z":"82491a29.edf68","name":"Door Closed","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"1","output":"str","x":501.714298248291,"y":663.7142963409424,"wires":[["e8110ee3.efa468"]]},{"id":"e8110ee3.efa468","type":"debug","z":"82491a29.edf68","name":"Safe","active":false,"console":"false","complete":"payload","x":682.7142868041992,"y":663.4286079406738,"wires":[]},{"id":"3d2364ce.6a611c","type":"debug","z":"82491a29.edf68","name":"Normal","active":false,"console":"false","complete":"payload","x":659.8571243286133,"y":420.57143211364746,"wires":[]},{"id":"ccc7739.811659","type":"e-mail","z":"82491a29.edf68","server":"smtp.gmail.com","port":"465","secure":true,"name":"anojalax@gmail.com","dname":"Send Email Notification","x":742.7143402099609,"y":613.142825126648,"wires":[]},{"id":"b75e4493.d005b8","type":"mqtt-broker","z":"","broker":"ec2-54-86-79-172.compute-1.amazonaws.com","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":""}]
